#app {
  padding-left: 12vw;
  display: grid;
  grid-template-columns: 50% 50%;
}
article {
  width: 20vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}
img{
  width: 30%;
}
