#app {
  padding: 0;
  margin: 0;
  display: grid;
  row-gap: 1rem;
  grid-template-columns: 50% 50%;
  justify-items: center;
}
article {
  border: solid 1px rgb(156, 144, 81);
  padding-right: 2rem;
  padding-left: 1rem;
  width: 30vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}
img{
  width: 100%;
}
button {
  padding: 0;
  width: 50%;
  border: none;
}