#app {
  padding: 0;
  margin: 0;
  display: grid;
  row-gap: 1rem;
  grid-template-columns: 50% 50%;
  justify-items: center;
}
article {
  border: solid 1px rgb(156, 144, 81);
  width: 40vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
}
img{
  width: 50%;
}